/* SIDEBAR */
.ant-layout-sider,
.ant-menu {
  background-color: var(--siderBg) !important;
}
.ant-menu {
  overflow-y: auto;
  padding-inline: 10px;
}
:where(.css-dev-only-do-not-override-3mqfnx).ant-menu-dark
  .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-3mqfnx).ant-menu-dark
  > .ant-menu
  .ant-menu-item-selected {
  background-color: var(--primary) !important;
}

.sider_top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sider_bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 15px;
}

/* HEADER */
.ant-layout-header {
  background-color: var(--headerBg);
  border-bottom: 1px solid var(--border);
}
.layout_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.layout_header .user_detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.layout_header .users_image_box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.layout_header .users_image_box img {
  width: auto;
  height: 40px;
  border-radius: 50%;
}

/* CONTENT */
.ant-layout-content {
  padding: 24px;
  overflow-y: auto;
}

/* FOOTER */
.ant-layout-footer {
  background-color: var(--footerBg);
  text-align: center;
  border-top: 1px solid var(--border);
}

.m-layout {
  display: none;
}
.m-header {
  width: 100%;
}
.m-header button {
  cursor: pointer;
  background: transparent;
  color: var(--primary);
  border: none;
  outline: none;
  font-size: 20px;
  height: auto;
  box-shadow: none;
  margin-left: 8px;
  margin-top: 4px;
}

/* DRAWER */
.ant-drawer-content-wrapper {
  width: 200px !important;
}
.mobile-menu-drawer .ant-drawer-body {
  padding: 0;
  background-color: var(--siderBg);
}

@media (max-width: 900px) {
  .v-layout {
    display: none;
  }
  .m-layout {
    display: block;
  }
}
