.users_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users_container .search_input_box {
  width: 400px;
}
.users_container
  .search_input_box
  .ant-input-search
  :where(.css-dev-only-do-not-override-1tffso9).ant-input-group
  .ant-input-affix-wrapper:not(:last-child) {
  height: 32px !important;
}
@media (max-width: 600px) {
  .users_container .search_input_box {
    width: 100%;
  }
}
