/* TABLE */
table .ant-table-measure-row {
  display: none !important;
}
table thead tr > th:first-child {
  width: 80px !important;
  /* padding-block: 10px !important; */
}
table tbody tr > td {
  padding-block: 4px !important;
}

:where(.css-dev-only-do-not-override-1tffso9).ant-table-wrapper
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(
    .ant-table-row-expand-icon-cell
  ):not([colspan])::before {
  background-color: transparent;
}

/* FORM */
.ant-form-item {
  margin-bottom: 10px !important;
}
.ant-form-item-label {
  padding-bottom: 3px !important;
}
.ant-form-item-required {
  font-size: 13px !important;
}

/* MODAL */
.ant-modal-title {
  font-size: 20px !important;
}
.ant-modal-footer {
  display: none !important;
}

/* INPUT */
:where(.css-dev-only-do-not-override-1tffso9).ant-input {
  padding: 6px 11px !important;
}
